body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    background-color: #373737;
    font-family: sans-serif;
    color: white;
}
.header {
    width: 100vh;
    background-color: black;
    font-size: 50px;
    border: 4px solid black;
    border-radius: 30px;
    text-align: center;
    margin-top: 30px;
    padding: 20px;
}
.center {
    display: flex; 
    flex-direction: column;
    gap: 40px; 
    align-items: center;  
    justify-content: center;
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;

}

.slideContainer {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 24px;
}
.slider {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 25px;
    background: #222222;
    outline: none;
    opacity: 0.7;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color:black;
    cursor: pointer;
}
button:hover{
background-color: #222222;
color: yellow;
border: 2px solid yellow
}
.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    align-items: center;

}
.invisibleInput {
    visibility: hidden;
}
.colorContainer {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background-color: black;
}

#grid {
    display: flex;
    flex-direction: column;
    height: 480px;
    width: 480px;
    background-color: #828385;
}
.row {
    display: flex;
    flex-grow: 1;
}
.box {
    flex-grow: 1;
    background-color: white;
}

button {
    font-size: 18px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    height: 3em;
    width: 9em;
}
.active {
    background-color: #222222;
    color: yellow;
    border: 2px solid yellow;
}
label.active {
    border: 5px solid white;
}
    
.footer {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 20px 40px 20px 40px;
    width: 100vh;
}
 