body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    background-color: #373737;
    font-family: sans-serif;
    color: white;
}
.header {
    width: 100vh;
    background-color: black;
    font-size: 50px;
    border: 4px solid black;
    border-radius: 30px;
    text-align: center;
    margin-top: 30px;
    padding: 20px;
}
.center {
    display: flex; 
    gap: 120px;   
}
.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.sizeButton {
    display: flex;
    height: 2em;
    width: 4em;
    font-size: 35px;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 3px solid black;
    border-radius: 20px;
    color: black


}
.sizeButton:hover, button:hover{
background-color: #222222;
color: yellow;
border: 2px solid yellow;
}
.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    padding-top: 110px;

}
input {
    visibility: hidden;
}
.colorContainer {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background-color: black;
}

#grid {
    display: flex;
    flex-direction: column;
    height: 480px;
    width: 480px;
    background-color: #828385;
}
.row {
    display: flex;
    flex-grow: 1;
}
.box {
    flex-grow: 1;
    background-color: white;
}

button {
    font-size: 18px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    height: 3em;
    width: 9em;
}
.active {
    background-color: #222222;
    color: yellow;
    border: 2px solid yellow;
}
label.active {
    border: 5px solid white;
}
    
.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px 20px 40px;
    width: 100vh;
}