#grid {
    display: flex;
    flex-direction: column;
    height: 480px;
    width: 480px;
}
.row {
    display: flex;
    flex-grow: 1;
}
.box {
    border: 1px solid black;
    flex-grow: 1;
}
.colored {
    background-color: red;
}
button {
    font-size: 15px;
}